<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Brand</a>
    <ul id="nav-mobile" class="right">
      <li {{#if isHome}} class="active" {{/if}}><a href="/">Home</a></li>
      <li {{#if isLogin}} class="active " {{/if}}><a href="#modal1" class="waves-effect waves-light btn modal-trigger">Login</a></li>
    </ul>
  </div>
</nav>