body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 10px 0;
}

.wrapper {
  margin-top: 20px;
  text-align: center;
}

.form {
  max-width: 500px;
  margin: 20px auto;
}

.form--add {
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
}

.form__input,
.btn {
  border-radius: 3px;
  border: 1px solid silver;
  padding: 5px;
}

.form__btn {
  margin-left: 10px;
}

.tasks-wrapper {
  display: flex;
}

.tasks {
  max-width: 350px;
  margin: 0 auto 30px auto;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px 20px;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid silver;
  position: relative;
}

.task:last-of-type {
  border-bottom: none;
  margin-bottom: 10px;
}

.task h3, 
.task h4 {
  margin: 5px 0;
}

.btn--delete {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}