body {
  text-align: center;
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 20px 20px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

.btn-primary {
  background: rgb(85, 85, 228);
}

.btn-secondary {
  background: rgb(168, 168, 175);
}